<footer class="mainFooter" role="contentinfo">
  <ul class="ft_ut">
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">ヘルプ</a></li>
    <li><a href="#">利用規約</a></li>
    <li><a href="#">グロービス法人向け人材育成サービス</a></li>
  </ul>
  <small><span>&copy;</span><%= t ".copyright" %></small>
</footer>
