<header class="mainHeader" role="banner">
  <h1 class="hd_ttl">
    <%= link_to root_path  do %>
      <img src="<%= asset_path 'hd_logo.png' %>" class="hd_lg" alt="GLOBIS">
    <% end %>
  </h1>
  <div class="hd_ut">
    <div class="hd_ut_inr">
      <span class="hd_ut_ico gold">ランク</span>
      <span class="hd_ut_name">（株）グロービス 山田 太郎 様</span>
      <a href="#" class="hd_ut_log"><%= t ".log_out" %></a>
    </div>
  </div>
</header>
